.container {
 display: grid; 
 grid-template-columns: repeat(12, 1fr);
 grid-template-rows: 120px 500px 120px;
}
header {
    display: flex;
	grid-column: span 12;
	background-color:#00FA9A;
}
aside {
    grid-column: span 3;
	background-color: #7B68EE;
}
main {
    grid-column: span 9;
	background-color: #87CEEB;
}
footer {
    grid-column: span 12;
	background-color:#F0E68C;
}